/* color scheme */
$background: #0B0C10;
$color1: #1F2833;
$color2: #66FCF1;
$grey: #C5C6C7;

body {
  background-color: $background;
}

h1, h2 {
  color: white;
}

p {
  color: $grey;
}

span {
  color: $color2;
}

.header {
  $bordersize: 1px;

  background-color: $background;
  text-align: center;
  font-size: 1em;
  padding: 15px + $bordersize;
  position: sticky;
  top: 0;
  z-index: 10;

  .link {
    text-decoration: none;
    color: $grey;
    padding: 15px;
  }

  .link:hover {
    border-bottom: $bordersize solid $color2;
  }
}

.splash {
  height: 100vh;
  position: relative;

  div {
    position: absolute;
    top: 60vh;
    left: 15vw;
    z-index: 1;

    h1 {
      font-size: 5em;
      margin-bottom: 0;
      border-top: 1px solid $color2;
    }

    h2 {
      position: relative;
    }
  }

  img {
    position: absolute;
    left: 20vw;
    top: 0vh;
  }
}

.about {
  background-color: $color1;
  height: 100vh;

  .container {
    position: relative;
    background-color: $color1;

    img {
      width: 100vw;
      max-height: 100vh;
      object-fit: cover;
      opacity: 0.5;
      position: absolute;
      top: 0;
      // z-index: 1;
    }

    .content {
      position: absolute;
      top: 0;
      width: 100%;

      h1 {
        font-size: 2.5em;
        position: absolute;
        top: 15vh;
        left: 8vw;
      }
    }
  }
}

.portfolio {
  display: flex;
  // max-height: 100vh;

  .title {
    flex: 30%;

    h1 {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 45vh;
    margin-bottom: 45vh;
    }

  }

  .projects {
    flex: 70%;
    margin-top: 45vh;

    .project {
      margin-top: 50px;
      width: 70%;
      display: flex;
      background-color: $color1;
      padding: 20px;
      border-radius: 0 25px 25px 0;
      border-left: 5px solid $color2;

    .project:hover {
      width: 70%;
      background-color: white;
    }
    
      .content {
        margin-left: 25px;
      }

    
      img {
        width: 400px;
      }
    }
  }

}

