/* color scheme */
$background: #0B0C10;
$color1: #1F2833;
$color2: #66FCF1;
$grey: #C5C6C7;

.App {
  /*text-align: center;*/
}

body {
  background-color: $background;
}

h1, h2 {
  color: white;
}

p {
  color: $grey;
}

span {
  color: $color2;
}

.header {
  background-color: $background;
  text-align: center;
  font-size: 1em;
  padding: 17px;
  position: sticky;
  top: 0;
  z-index: 10;

  .link {
    text-decoration: none;
    color: $grey;
    padding: 15px;
  }

  .link:hover {
    border-bottom: 2px solid $color2;
  }
}

.splash {
  height: 100vh;
  position: relative;

  div {
    position: absolute;
    top: 30vh;
    left: 20vw;
    z-index: 1;

    h1 {
      font-size: 5em;
      margin-bottom: 0;
    }

    h2 {
      position: relative;
    }
  }

  img {
    position: absolute;
    left: 28vw;
    top: 12vh;
  }
}

.about {
  background-color: $color1;
  height: 50vh;

  h1 {
    text-align: center;
    position: relative;
    top: 45%;
  }
}

.portfolio {
  display: flex;
  // max-height: 100vh;

  .title {
    flex: 30%;

    h1 {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 45vh;
    // margin-top: 45vh;
    }

  }

  .projects {
    flex: 70%;

    .project {
      margin: 50px auto;
      width: 50%;
      display: flex;
      // background-color: $color1;
      padding: 20px;
      border-radius: 0 25px 25px 0;
      border-left: 5px solid $color2;

    .project:hover {
      width: 70%;
      background-color: white;
    }
    
      .content {
        margin-left: 25px;
      }
    
      img {
        width: 400px;
      }
    }
  }

}

